
header{
    border: solid 3px #e9dede;
    background-color:#4e2505fb ;
    padding:1rem;
}
.img_menu-container{
    display: flex;
    justify-content: space-between;
    
    img{
        width: 200px;
        height: 200px;
        display: none;
        
        @media screen and (width>576px){
         display: block;
        }
    }
}
.menu{
    margin-inline:auto;
    ul{
        
        list-style-type: none;
        display: flex;
        gap:8px;
        padding:0;
    }
    @media screen and (width>576px){
        margin-right: 0;
    }
}
.menu a{
    color: #f3eaea;
    font-size :16px; 
    font-weight: bold;
    text-decoration: none;
    border: #f3b007 2px solid;
    padding: 5px;
    display: inline-block;
    &:hover, &.active{
        color: #f8f4f4;
        border:  solid 2px  #c5c6d8;
        background-color:#131212;
    }
    @media screen and (width>576px){
        font-size: 1.2rem;
    }
}
.titles_container{
	display:flex;
	flex-direction: column;
    padding: 1rem;
    text-align: center;
    color: #faf3f1;
} 
