*{
    box-sizing:  border-box;
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: "Montserrat-Italic-VariableFont_wght ";
    src: url(../Montserrat-Italic-VariableFont_wgth.ttf);
}
body{
    font-family:"Montserrat-Italic-VariableFont_wght";    
}

.form_container{
    width: fit-content;
}